<%- include('../partials/head') %>

<div class="container"><%- include('../partials/header') %></div>
<div class="container">
	<h1>Contact Us</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			<% if ( enquirySubmitted ) { %>
				<h3>Thanks for getting in touch.</h3>
			<% } else { %>
				<form method="post">
					<input type="hidden" name="action" value="contact">
					<div class="form-group <%= ( validationErrors['name'] ? 'has-error' : null ) %>">
						<label>Name</label>
						<input type="text" name="name.full" value="<%= formData['name.full'] %>" class="form-control">
					</div>
					<div class="form-group <%= ( validationErrors['email'] ? 'has-error' : null ) %>">
						<label>Email</label>
						<input type="email" name="email" value="<%= formData.email %>" class="form-control">
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" name="phone" value="<%= formData.phone %>" placeholder="(optional)" class="form-control">
					</div>
					<div class="form-group <%= ( validationErrors['enquiryType'] ? 'has-error' : null ) %>">
						<label>What are you contacting us about?</label>
						<select name="enquiryType" class="form-control">
							<option value="">(select one)</option>
							<% enquiryTypes.forEach(function ( type ) { %>
								<option value="<%= type.value %>"><%= type.label %></option>
							<% }) %>
						</select>
					</div>
					<div class="form-group <%= ( validationErrors['message'] ? 'has-error' : null ) %>">
						<label>Message</label>
						<textarea name="message" rows="4" placeholder="Leave us a message..." class="form-control"><%= formData.message %></textarea>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Send</button>
					</div>
				</form>
			<% } %>
		</div>
	</div>
</div>
<div class="container"><%- include('../partials/footer') %></div>
